<launch>

    <arg name="sim" default="false"/>

    <!--Connect to UR5 Robot by TCP/IP-->
    <!--<include if="$(arg sim)" file="$(find ur_modern_driver)/launch/ur5_bringup.launch">-->
        <!--<arg name="robot_ip" value="192.168.125.100"/>-->
    <!--</include>-->

    <node pkg="ur5_playing" type="ur5_cartesian_pose.py" name="ur5_cartesian_pose" output="screen"
    launch-prefix="gnome-terminal --command"/>

    <node pkg="ur5_playing" type="ur5_gripper.py" name="ur5_gripper" output="screen"
    launch-prefix="gnome-terminal --command"/>

    <node if="$(arg sim)" pkg="ur5_playing" type="psuedo_gripper_command.py" name="psuedo_gripper_command"
          launch-prefix="gnome-terminal --command" output="screen"/>
    <node if="$(arg sim)" pkg="ur5_playing" type="psuedo_hololen.py" name="psuedo_hololen" output="screen"
    launch-prefix="gnome-terminal --command"/>

</launch>
